main {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

//---------------------------------------------------------
//--------------------- Modal -----------------------------
//---------------------------------------------------------

.modalWindowCard {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000; //    -- For slider "Fade mode"

  &__container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1020px;
    height: 400px;
    display: flex;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    &__left {
      padding: 10px;
      height: 100%;
      width: 30%;
      box-sizing: border-box;
    }
    &__mid {
      padding: 10px 50px;
      height: 100%;
      width: 40%;
      border-left: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
      line-height: 200%;
      box-sizing: border-box;

      .card__stats {
        margin: 20px 0;
        border-radius: 5px;
      }
    }
    &__right {
      padding: 10px;
      height: 100%;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      &__stock {
        margin: 30px;
      }
    }
  }
}

.visible {
  display: block;
}

//---------------------------------------------------------
//--------------------- Slider ----------------------------
//---------------------------------------------------------

.header__slider {
  position: relative;
  .slick-list {
    overflow: hidden;
    .slick-track {
      display: flex;
      .slick-slide {
        position: relative;
        .header__slider__item__title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -20px);
          color: #666666;
        }
        .header__slider__item__btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 60px);
          width: 150px;
          height: 50px;
          background: #0e49b5;
          border-radius: 5px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          color: #ffffff;
        }
      }
    }
  }
}

//---------------------------------------------------------
//--------------------- Header ----------------------------
//---------------------------------------------------------

.header {
  min-height: 300px;
  width: 100%;

  &__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;

    &__top {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 120px;
        margin: 10px;
        object-fit: cover;
      }

      &__cart {
        margin-right: 10px;
        padding: 9px 0 0 8px;
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        border: 2px solid #888888;
        border-radius: 50%;

        .icon-cart {
          color: #767272;
          font-size: 18px;
        }
      }
    }

    &__bot {
      position: relative;
      margin-top: 20px;
      width: 100%;
      height: 60px;

      #deviceInp {
        padding: 10px 10px 10px 70px;
        height: 100%;
        width: 100%;
        font-size: 18px;
        border: 1px solid #dddada;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
      }

      #sortDevices {
        position: absolute;
        bottom: 20px;
        right: 10px;
      }
    }
  }
}

//---------------------------------------------------------
//--------------------- Cards -----------------------------
//---------------------------------------------------------

.cards {
  padding: 0 10px;
  width: 100%;
  max-height: 190vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;
}

@mixin cartBtnStyle {
  margin: 15px 0;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.card {
  position: relative;
  padding-top: 20px;
  margin: 10px;
  width: 300px;
  height: 480px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__img {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  &__btn {
    @include cartBtnStyle();
    background: #0e49b5;
  }

  &__btnDis {
    @include cartBtnStyle();
    background: rgba(0, 0, 0, 0.4);
  }

  &__stats {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: #dae2ea;

    &__left {
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__right {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

//------------------------------------------------------------------
//------------------------- Left aside -----------------------------
//------------------------------------------------------------------

aside {
  margin: 10px 20px;
  width: 400px;
  height: fit-content;
  box-sizing: border-box;
  border: 1px solid #dddada;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
}

@mixin filterItemStile {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  overflow: hidden;
}

.filterItem {
  width: 100%;
  height: auto;

  &__title {
    @include filterItemStile();
    padding: 10px;
    background: #7e7e7e;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
      margin-right: 10px;
      width: 7px;
      height: 7px;
      border-top: 3px solid black;
      border-right: 3px solid black;
      transform: rotate(45deg);
    }
  }

  &__content {
    @include filterItemStile();
    height: 0;

    div {
      display: flex;
      flex-direction: column;
    }
  }

  @keyframes filterDropdown {
    from {
      padding: 0;
      height: 0;
      overflow: hidden;
    }
    to {
      padding: 10px;
      height: 200px;
      overflow-y: scroll;
    }
  }

  &__content--active {
    animation: filterDropdown linear 0.1s forwards;
  }
}

.filterItem__title--active {
  background: #d4d4d4;

  .arrow {
    transform: rotate(135deg);
  }
}
