main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-family: Roboto;
}

//---------------------------------------------------------
//--------------------- Modal -----------------------------
//---------------------------------------------------------

.modalWindowCard {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000; //    -- For slider "Fade mode"

  &__container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1020px;
    height: 400px;
    display: flex;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    &__left {
      padding: 10px;
      height: 100%;
      width: 30%;
      box-sizing: border-box;
    }
    &__mid {
      padding: 10px 50px;
      height: 100%;
      width: 40%;
      border-left: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
      line-height: 200%;
      box-sizing: border-box;

      .card__stats {
        margin: 20px 0;
        border-radius: 5px;
      }
    }
    &__right {
      padding: 10px;
      height: 100%;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      &__stock {
        margin: 30px;
      }
    }
  }
}

.visible {
  display: block;
}

//---------------------------------------------------------
//--------------------- Slider ----------------------------
//---------------------------------------------------------

.header__slider {
  position: relative;
  margin-top: 60px;
  .slick-list {
    overflow: hidden;
    .slick-track {
      display: flex;
      .slick-slide {
        position: relative;
        .header__slider__item__title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -20px);
          color: #666666;
        }
        .header__slider__item__btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 60px);
          width: 150px;
          height: 50px;
          background: #0e49b5;
          border-radius: 5px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          color: #ffffff;
        }
      }
    }
  }
}

//---------------------------------------------------------
//--------------------- Header ----------------------------
//---------------------------------------------------------

@mixin cartBtnStyle {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(57, 54, 255);
  div {
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
  }
}

@mixin cartArrowStyle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  min-height: 300px;
  width: 100%;

  &__wrapper {
    // position: relative;
    margin: 0 auto;
    max-width: 1024px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;

    &__top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #ffffff;
      z-index: 10000;

      .logo {
        width: 120px;
        margin: 10px;
        object-fit: cover;
      }

      &__cart {
        position: relative;
        margin-right: 10px;
        padding: 9px 0 0 8px;
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        border: 2px solid #888888;
        border-radius: 50%;

        .icon-cart {
          color: #767272;
          font-size: 18px;
        }

        .cartCounter {
          position: absolute;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          background: #0e49b5;
          border-radius: 50%;
          left: -20%;
          bottom: -20%;
        }
      }

      .innerCart {
        position: absolute;
        width: 400px;
        height: 500px;
        display: none;
        top: 60px;
        right: 0;
        background: #ffffff;
        border: 1px solid #262626;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
        z-index: 10000;

        .cartHead {
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          border-bottom: 0.5px solid #c4c4c4;
          font-family: roboto;

          p {
            color: #767272;
          }
        }

        .cartItems {
          width: 100%;
          height: 270px;
          overflow-y: scroll;

          &__item {
            padding: 5px;
            box-sizing: border-box;
            display: flex;
            border-bottom: 0.5px solid #c4c4c4;

            .lSide {
              width: 30%;
              display: flex;
              align-items: center;

              .cartImg {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .middle {
              padding-left: 10px;
              width: 40%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-weight: 700;

              .priceWrapper {
                margin-top: 10px;
                width: 50px;
                display: flex;
                justify-content: center;
                color: #4191ff;
                background: #eaf6ff;
                border: 3px solid #78c4ff;
                border-radius: 3px;
                box-sizing: border-box;

                p {
                  display: block;
                  font-size: 14px;
                  line-height: 18px;
                }
              }
            }

            .rSide {
              padding: 10px 0;
              width: 30%;
              display: flex;
              justify-content: space-around;
              align-items: center;

              .pcsContainer {
                width: 60%;
                height: 30px;
                padding-right: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                color: #4191ff;

                .upBtn {
                  @include cartBtnStyle();

                  .cartArrow {
                    @include cartArrowStyle();
                    transform: rotate(90deg);
                  }
                }

                .upBtnDis {
                  @include cartBtnStyle();
                  .cartArrow {
                    @include cartArrowStyle();
                    transform: rotate(90deg);
                  }
                  background: rgba(0, 0, 0, 0.4);
                }

                .downBtn {
                  @include cartBtnStyle();
                  .cartArrow {
                    @include cartArrowStyle();
                    transform: translate(1px, -1px) rotate(-90deg);
                  }
                }

                .downBtnDis {
                  @include cartBtnStyle();
                  .cartArrow {
                    @include cartArrowStyle();
                    transform: translate(1px, -1px) rotate(-90deg);
                  }
                  background: rgba(0, 0, 0, 0.4);
                }
              }

              .close {
                margin-right: 5px;
                width: 20px;
                height: 20px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #b40606;
                color: white;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 12px;
              }
            }
          }
        }

        .cartTotalInfo {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          background: #eaf6ff;
          border-bottom: 0.5px solid #c4c4c4;
          box-sizing: border-box;
          font-size: 12px;
          line-height: 14px;
          font-family: roboto;
        }

        .cartBottom {
          width: 100%;
          height: 78px;
          display: flex;
          justify-content: center;
          align-items: center;

          .cartBuy {
            width: 250px;
            height: 40px;
            color: #ffffff;
            font-family: roboto;
            background: #3c44b1;
            border-radius: 10px;
          }
        }
      }

      .innerCart.active {
        display: block;
      }
    }

    &__bot {
      position: relative;
      margin-top: 20px;
      width: 100%;
      height: 60px;

      #deviceInp {
        padding: 10px 10px 10px 70px;
        height: 100%;
        width: 100%;
        font-size: 18px;
        border: 1px solid #dddada;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
      }

      #sortDevices {
        position: absolute;
        bottom: 20px;
        right: 10px;
      }
    }
  }
}

//---------------------------------------------------------
//--------------------- Cards -----------------------------
//---------------------------------------------------------

.cards {
  padding: 0 10px;
  width: 100%;
  max-height: 190vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;
}

@mixin cartBtnStyle {
  margin: 15px 0;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.card {
  position: relative;
  margin: 10px;
  padding-top: 10px;
  width: 300px;
  height: 480px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__img {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  &__btn {
    @include cartBtnStyle();
    background: #0e49b5;
  }

  &__btnDis {
    @include cartBtnStyle();
    background: rgba(0, 0, 0, 0.4);
  }

  &__stats {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: #dae2ea;

    &__left {
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__right {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

//------------------------------------------------------------------
//------------------------- Left aside -----------------------------
//------------------------------------------------------------------

aside {
  margin: 10px 20px;
  width: 400px;
  height: fit-content;
  box-sizing: border-box;
  border: 1px solid #dddada;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
}

@mixin filterItemStile {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  overflow: hidden;
}

.filterItem {
  width: 100%;
  height: auto;

  &__title {
    @include filterItemStile();
    padding: 10px;
    background: #7e7e7e;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
      margin-right: 10px;
      width: 7px;
      height: 7px;
      border-top: 3px solid black;
      border-right: 3px solid black;
      transform: rotate(45deg);
    }
  }

  &__content {
    @include filterItemStile();
    height: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
    }

    .rangeSlider {
      width: calc(100% - 10px);
      margin-top: 40px;
    }

    .noUi-target {
      height: 3px;
      background: #c5d0e6;
      border: none;
      box-shadow: none;
      border-radius: 50%;
    }

    .noUi-connect {
      background: #6495ed;
    }

    .noUi-handle {
      box-shadow: none;
      border-radius: 50%;
      background-color: #ffffff;
      border: 3px solid #6495ed;
    }

    .noUi-horizontal .noUi-handle {
      width: 22px;
      height: 22px;
      top: -9px;
    }

    .noUi-handle::after,
    .noUi-handle::before {
      display: none;
    }
  }

  @keyframes filterDropdown {
    from {
      padding: 0;
      height: 0;
      overflow: hidden;
    }
    to {
      padding: 10px;
      height: 200px;
      overflow-y: scroll;
    }
  }

  &__content--active {
    animation: filterDropdown linear 0.1s forwards;
  }
}

.filterItem__title--active {
  background: #d4d4d4;

  .arrow {
    transform: rotate(135deg);
  }
}
